body
{
	font-family: sans-serif;
	background-color: #E1E2EF;
	color: #B497D6;
	margin-left: 75px;
	margin-right: 75px;
}


header, footer
{
	text-align: center;
	color: #05204A;
	font-weight: bold;
}

h1, h2, h3
{
	font-size: 160%;
	color: #05204A;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: center;
}

h4 {
	color: #05204A;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: center;
}

h5 {
	color: #05204A;
	font-family: sans-serif;
	text-align: left;
	font-style: normal;
	font-size: 90%;
	font-weight: normal;
}

img {
	border: 5px solid #05204A;
}

section {
	font-size: 120%;
	padding-left: 200px;
}

p {
	color: #B497D6;
	text-align: center;
	padding-bottom: 8px;
}

a
{
	text-decoration: none;
	color: #02020A;
}

a:hover
{
	text-decoration: overline underline;
	color: #B497D6;
}

figure
{
	text-align: center;
}

figcaption
{
	font-style: italic;
}

nav
{
	text-align: center;
	color: #02020A;
}
