body
{
	font-family: Helvetica;
	color: saddlebrown;
	background-color: seagreen;
	margin-left: 75px;
	margin-right: 75px;
}


header, footer
{
	text-align: center;
	color: ;
	font-weight: bold;
}

h1, h2, h3
{
	color: FFefbd;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: center;
}

h3
{
	font-size: 380%;
	line-height: 0px;
	color: saddlebrown;
}

section {
	font-size: 120%;
	padding-left: 200px;
}

a
{
	text-decoration: none;
	color: black;
}

a:hover
{
	text-decoration: overline underline;
	color: saddlebrown;
}

figure
{
	text-align: center;
}

figcaption
{
	font-style: italic;
}

nav
{
	text-align: center;
}